[submodule "uav_trajectories"]
	path = uav_trajectories
	url = https://github.com/whoenig/uav_trajectories

[submodule "nanoflownet_flussnetz"]
	path = nanoflownet_flussnetz
	url = https://github.com/tudelft/nanoflownet

[submodule "gap_sdk"]
	path = gap_sdk
	url = https://github.com/GreenWaves-Technologies/gap_sdk

[submodule "crazyradio-firmware"]
	path = crazyradio-firmware
	url =  https://github.com/bitcraze/crazyradio-firmware

[submodule "NatNetSDKCrossplatform"]
	path = NatNetSDKCrossplatform
	url = https://github.com/whoenig/NatNetSDKCrossplatform

[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/boomer319/crazyflie-firmware

[submodule "verrueckterschwarm2"]
	path = ros2_ws/src/verrueckterschwarm2
	url = https://github.com/boomer319/verrueckterschwarm2

